.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  border-bottom: 1px solid;
  justify-content: center;
  margin-bottom: 20px;
}
.header ul{
  display: flex;
  flex-direction: row;
  align-content: center;
  color: rgb(28, 28, 28);
  font-size: 12pt;
  list-style: none;
}
.header ul li{
  padding: 0 20px;
}

.header ul li a {
  text-decoration: none;
  color: rgb(28, 28, 28);
  font-size: 12pt;
}



.body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.body a{
  text-decoration: none;
  width: 40%;
  margin: 20px 0;
}
/*.body form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid;
  border-radius: 25px;
  padding: 20px;
}*/

.body form div label textarea{
  width: 300px;
  height: 70px;
  margin: 30px;
}
.body form>input{
  width: 40%;
  background-color: rgb(4, 215, 252);
  border: 2px solid rgb(4, 215, 252);
  border-radius: 5px;
  color: white;
  font-size: 12pt;
}
.posts-container{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.post-modal-wrapper{

  background-color: white;
}
.post-modal-wrapper .post-modal{
}
.post-link{
  display: inline-flex;
}

.post-card{
  border: 2px solid #d2c8c8;
  border-radius: 15px;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-component>.post-card{
  width: auto;
}
.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header img{
  width: 80px;
}

.user-block{
  display: flex;
}

.user-names-block{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: flex-start;
    justify-content: flex-end;
  }
.comment-btn-block p{
  margin: auto;
}
.user-names-block p{
  margin: 5px;
}

.username{
  font-weight: bold;
  font-size: 16pt;
}

.tag{
  font-size: 14pt;
  color: #d2c8c8;
}

.comments-wrapper {
  padding: 15px;
  width: 450px;
}
.comments-wrapper .comments-block-header span{
  font-size: 14pt;
}
.comment-childs-wrapper{
  margin-left: 10px;
}
.comment-add-block{
  padding: 10px;
  display: flex;
}
.comment-header{
  display: flex;
  justify-content: space-between;
}
.comment-header button{
  padding: 0;
}
.comment-header a{
  margin: 0;
  width: 100%;
}

.comment-modal{
  width: 500px;

  background-color: #f9f9f9;

}
.comment-modal .comment-modal-header{
  padding: 10px;
  background-color: #418dd4;
  color: white;
}
.comment-modal .comment-modal-body{
  padding: 10px;
  display: flex;
}




.postBody{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14pt;
}
.text{
  text-align: left;
}
.date{
  margin-top: 0;
  font-weight: 400;
  color: #d2c8c8;
  text-align: left;
}

.profile-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #d2c8c8;
  border-radius: 15px;
  padding: 30px;
}

.MuiCardHeader-title{
  text-align: left;
  font-size: 18pt !important;
}

.profile-block-naming h3{
  margin: 0;
}

.profile-card-avatar img{
  width: 100px;
}


.log-form-wrapper {
  display: flex;
  justify-content: space-between; }
.log-form-wrapper .link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0; }
.log-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%; }
.log-form-wrapper #register-form, .log-form-wrapper #login-form {
  display: flex;
  flex-direction: column; }
.log-form-wrapper #register-form .input-block, .log-form-wrapper #login-form .input-block {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 30px 0; }
.log-form-wrapper #register-form .input-block input, .log-form-wrapper #login-form .input-block input {
  font-size: 16pt;
  border: 0;
  width: 90%;
  background-color: inherit;
  margin-left: 5px; }
.log-form-wrapper #register-form #signup-btn, .log-form-wrapper #login-form #signup-btn {
  width: 40%;
  padding: 20px;
  background-color: #65c8f3;
  border-radius: 15px;
  border: 1px solid #0D78B4;
  color: #f9f9f9;
  font-size: 18pt;
  margin-top: 15px; }
.log-form-wrapper #register-form .error-msg, .log-form-wrapper #login-form .error-msg {
  font-size: 9pt;
  color: red;
  margin-top: -20px; }
.log-form-wrapper #alt-login {
  font-size: 12pt;
  margin-top: 20px;
  display: flex;
  align-items: center; }
.log-form-wrapper .log-image-side-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center; }
.log-form-wrapper .log-image-side-block img {
  width: 80%; }
.log-form-wrapper .log-image-side-block .next-sign-form {
  text-align: center; }
.log-form-wrapper .log-image-side-block .next-sign-form a {
  font-size: 14pt;
  text-decoration: underline;
  color: #565252; }
.log-form-wrapper .log-image-side-block .next-sign-form a:hover {
  font-size: 15pt; }





.footer{
  display: flex;
  align-items: center;
}
.footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.footer div p {
  color: #d2c8c8;
}
